<div class="cards">
  {% if page.cards %}
    {% for card in page.cards %}
      <div class="card">
        <img src="{{ card.image | relative_url }}" class="card__image" alt="{{ card.title }}">

        <div class="card__body">
          <div class="card__title">{{ card.title }}</div>
          <p>{{ card.text }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% for post in site.posts %}
      <div class="card">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.thumbnail | relative_url }}" class="card__image" alt="{{ post.title }}">

          <div class="card__body">
            <div class="card__title">{{ post.title }}</div>
            <div class="card__text">{{ post.excerpt | remove: "<p>" | remove: "</p>" }}</div>
            <div class="card__date">{{ post.date | date: "%Y-%m-%d" }}</div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</div>