<div class="panel">
  <div class="panel-item" data-aos="fade-up" data-aos-delay="0">
    <img src="{{ "assets/images/feature_01.webp" | relative_url }}" class="panel-item__image" alt="">

    <div class="panel-item__body">
      <div class="panel-item__title">自然とのふれあい</div>
      <p class="panel-item__text">園庭や近隣の自然を活かし、季節を感じる体験を大切にします。</p>
    </div>
  </div>

  <div class="panel-item" data-aos="fade-up" data-aos-delay="200">
    <img src="{{ "assets/images/feature_02.webp" | relative_url }}" class="panel-item__image" alt="">

    <div class="panel-item__body">
      <div class="panel-item__title">手作り給食</div>
      <p class="panel-item__text">園内調理のあたたかい給食で、安心安全な食育を育てます。</p>
    </div>
  </div>

  <div class="panel-item" data-aos="fade-up" data-aos-delay="400">
    <img src="{{ "assets/images/feature_03.webp" | relative_url }}" class="panel-item__image" alt="">

    <div class="panel-item__body">
      <div class="panel-item__title">少人数で丁寧な保育</div>
      <p class="panel-item__text">アットホームな環境で、一人ひとりに寄り添った保育を行います。</p>
    </div>
  </div>
</div>