{% assign key = page.map[tab.title] %}

<div class="time-table">
  {% for item in site.data.time_table[key] %}
    <div class="time-table-item">
      <div class="time-table-item__time">{{ item.time }}</div>

      <div class="time-table-contents">
        <div class="time-table-contents__title">{{ item.title }}</div>

        {% if item.image %}
          <img src="{{ item.image | relative_url }}" class="time-table-contents__image" data-aos="fade-up" alt="">
        {% endif %}

        {% if item.text %}
          <div class="time-table-contents__text" data-aos="fade-up">{{ item.text | newline_to_br }}</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

