@use "variables" as *;

/* メディアクエリ
-------------------------------*/
@mixin display_sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin display_md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin display_lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin max_width {
  max-width: 1100px;
  margin: 0 auto;
}

/* メニューバー
-------------------------------*/
@mixin menu_bar {
  width: 3rem;
  height: 0.3rem;
  display: block;
  background-color: $brown;
  border-radius: 0.3rem;
  position: absolute;
  transition: all 0.4s;
}

@mixin menu_item($height, $opacity) {
  height: $height;
  opacity: $opacity;
  transition: all 0.4s;
}