/* ブレイクポイント
-------------------------------*/
$sm: 576px;
$md: 768px;
$lg: 992px;

/* color
-------------------------------*/
$brown: #8D6E63;
$orange: #F8B26A;
$dark_orange: #F49A3D;
$yellow: #FFE66D;
$green: #A8D5BA;
$mint: #D4F2E7;

$bg: #FFFDF8;
$shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
$text_color: #383838;

$white: #FFFFFF;
$black: #000000;
