<div class="tab">
  <label class="tab__label">
    <input type="radio" name="tab" class="tab__input" checked="true" >
    こもれび組（0〜1歳）
  </label>

  <div class="tab__content">
    ここにタイムライン こもれび組
  </div>
  <label class="tab__label">
    <input type="radio" name="tab" class="tab__input">
    そよかぜ組（2〜3歳）
  </label>

  <div class="tab__content">
    ここにタイムライン そよかぜ組
  </div>
  <label class="tab__label">
    <input type="radio" name="tab" class="tab__input">
    たいよう組（4〜5歳）
  </label>

  <div class="tab__content">
    ここにタイムライン たいよう組
  </div>
</div>