<div class="tab">
  {% for tab in page.tabs %}
    <label class="tab__label" data-color="{{ tab.color }}">
      <input type="radio" name="tab" class="tab__input" {% if forloop.first %}checked{% endif %} >
      {{ tab.title }}
    </label>

    <div class="tab__content" data-color="{{ tab.color }}">
      <img src="assets/images/flag.png" class="decoration decoration__flag decoration__flag_right" alt="">
      <img src="assets/images/flag.png" class="decoration decoration__flag decoration__flag_left" alt="">

      {% include sections/time_table.html %}

      <img src="assets/images/tree_orange.png" class="decoration decoration__tree decoration__tree_orange" alt="">
      <img src="assets/images/tree_green.png" class="decoration decoration__tree decoration__tree_green" alt="">
    </div>
  {% endfor %}
</div>