<table class="time-table">
  <thead class="time-table__thead">
    <tr class="time-table__tr">
      <th class="time-table__th">時間</th>
      <th class="time-table__th">内容</th>
    </tr>
  </thead>
  
  <tbody class="time-table__tbody">
    <tr class="time-table__tr">
      <td class="time-table__time">7:30</td>
      <td class="time-table__content">登園・自由あそび</td>
    </tr>
    <tr class="time-table__tr">
      <td class="time-table__time">9:30</td>
      <td class="time-table__content">朝の会・活動</td>
    </tr>
    <tr class="time-table__tr">
      <td class="time-table__time">11:30</td>
      <td class="time-table__content">給食</td>
    </tr>
    <tr class="time-table__tr">
      <td class="time-table__time">12:30</td>
      <td class="time-table__content">お昼寝</td>
    </tr>
    <tr class="time-table__tr">
      <td class="time-table__time">15:00</td>
      <td class="time-table__content">おやつ</td>
    </tr>
    <tr class="time-table__tr">
      <td class="time-table__time">16:00</td>
      <td class="time-table__content">降園準備・自由あそび</td>
    </tr>
  </tbody>
</table>