@use "global" as *;

/* 装飾
------------------------------- */
.decoration {
  display: none;
  position: absolute;
  z-index: 100;
  @include display_md {
    display: block;
  }
  &__cloud {
    width: 20rem;
    height: auto;
    top: 2rem;
    right: 0;
    filter: drop-shadow(0 6px 20px rgba(0,0, 0, 0.2));
    animation: float 2s ease-in-out infinite;
  }
  &__flag {
    width: 16rem;
    height: 8rem;
    display: block;
    object-fit: cover;
    top: 0;
    &_right {
      right: 0;
    }
    &_left {
      left: 0;
      transform: scale(-1, 1);
    }
    @include display_md {
      width: 22rem;
      height: 10rem;
    }
  }
  &__bird {
    width: 12rem;
    height: auto;
    bottom: 9rem;
    right: 12rem;
    transform: scale(-1, 1)
  }
  &__tree {
    transform-origin: bottom center;
    &_orange {
      width: 14rem;
      height: auto;
      bottom: 0;
      right: 5rem;
      animation: stretch 4s ease-in-out infinite;
    }
    &_green {
      width: 14rem;
      height: auto;
      bottom: 0;
      right: 0;
      animation: stretch 2.6s ease-in-out infinite;
    }
  }
}

@keyframes float {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes stretch {
  0%   {
    transform: scaleY(1);
  }
  50%  {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}