@use "global" as *;

/* 装飾
------------------------------- */
.decoration {
  position: absolute;
  z-index: 100;
  &__flag {
    width: 16rem;
    height: 8rem;
    object-fit: cover;
    top: 0;
    &_right {
      right: 0;
    }
    &_left {
      left: 0;
      transform: scale(-1, 1)
    }
    @include display_md {
      width: 18rem;
    }
  }
  &__flower {
    display: none;
    @include display_md {
      width: 14rem;
      height: auto;
      display: block;
      bottom: 0;
      left: 0;
      animation: swing 1s ease-in-out infinite;
    }
  }
  &__tree {
    display: none;
    transform-origin: bottom center;
    &_orange {
      @include display_md {
        width: 14rem;
        height: auto;
        display: block;
        bottom: 0;
        right: 5.2rem;
        animation: stretch 4s ease-in-out infinite;
      } 
    }
    &_green {
      @include display_md {
        width: 14rem;
        height: auto;
        display: block;
        bottom: 0;
        right: 0;
        z-index: -1;
        animation: stretch 2.6s ease-in-out infinite;
      } 
    }
  }
}

@keyframes swing {
  0%   {
    transform: rotate(6deg);
  }
  50%  {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

@keyframes stretch {
  0%   {
    transform: scaleY(1);
  }
  50%  {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}