@use "global" as *;

/* タブ
------------------------------- */
.tab {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0 2%;
  @include display_md {
    gap: 0 4%;
  }
  @include max-width;
  &__label {
    width: 100%;
    height: 5rem;
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-weight: 700;
    text-align: center;
    color: $brown;
    background-color: $white;
    border: 0.6rem solid var(--color);
    border-bottom: $white;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    order: -1;
    cursor: pointer;
    &:hover {
      background-color: color-mix(in oklab, var(--color), white 70%);
    }
    &:has(:checked) {
      background-color: var(--color);
      + .tab__content {
        display: block;
      }
    }
  }
  &__input {
    display: none;
  }
  &__content {
    width: 100%;
    height: auto;
    position: relative;
    border: 0.6rem solid var(--color);
    border-radius: 0 0 2rem 2rem;
    display: none;
    padding: 1.5em 1em;
    @include display_md {
      padding: 1.5em 3em;
    }
  }
}