@use "global" as *;

/* タブ
------------------------------- */
.tab {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0 4%;
  &__label {
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    text-align: center;
    color: $white;
    background-color: #008080;
    flex: 1 1;
    order: -1;
    opacity: 0.5;
    cursor: pointer;
    padding: .6em 1em;
    &:hover {
      opacity: 0.8;
    }
    &:has(:checked) {
      opacity: 1;
      + .tab__content {
        display: block;
      }
    }
  }
  &__input {
    display: none;
  }
  &__content {
    width: 100%;
    height: auto;
    background-color: #ffffe0;
    display: none;
    padding: 1.5em 1em;
  }
}