@use "global" as *;

/* タイトル
------------------------------- */
.title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
  &__text {
    font-size: clamp(2.4rem, 3vw, 2.6rem);
    font-weight: 600;
    text-align: center;
    color: $dark_orange;
    padding: 0 1rem;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    width: 8rem;
    height: 3rem;
    background-image: url("../images/dots.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}