@use "global" as *;

/* タイトル
------------------------------- */
.title {
  width: 100%;
  height: auto;
  &__text {
    font-size: clamp(2.4rem, 3vw, 3rem);
    font-weight: 600;
    text-align: center;
    color: $dark_orange;
  }
}