@use "global" as *;

/* メインビジュアル
------------------------------- */
.mv {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    inset: 0;
    border-radius: 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeAnime 16s infinite;
    margin: 3rem;
    @include display_md {
      margin: 6rem;
    }
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      background-position: 20%;
      animation-delay: 4s;
      @include display_md {
        background-position: center;
      }
    }
    &:nth-child(3) {
      background-position: 30%;
      animation-delay: 8s;
      @include display_md {
        background-position: center;
      }
    }
    &:nth-child(4) {
      animation-delay: 12s;
    }
  }
}

@keyframes fadeAnime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}