@use "global" as *;

/* お知らせ
------------------------------- */
.post {
  width: 100%;
  max-width: 78rem;
  height: auto;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

.post-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  &__title {
    font-size: clamp(2.2rem, 3vw, 2.6rem);
    color: $brown;
  }
}

.post-content {
  & p + p {
    padding: 1.6rem 0 0 0;
  }
  & img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  & a {
    display: block;
    text-align: center;
  }
}