@use "global" as *;

/* 1日の流れ
------------------------------- */
.time-table {
  width: 100%;
  max-width: 48rem;
  height: auto;
  background: $white;
  box-shadow: $shadow;
  border-radius: 1rem;
  border-collapse: collapse;
  overflow:hidden;
  margin: 0 auto;
  &__th {
    text-align: center;
    color: $brown;
    background-color: $yellow;
    padding: 1rem 2rem;
  }
  &__tr {
    border-bottom: 1px solid rgba($brown, 0.2);
    &:last-child {
      border-bottom: none;
    }
  }
  &__time {
    width: 30%;
    height: auto;
    text-align: center;
    padding: 1rem 2rem;
  } 
}