@use "global" as *;

/* 1日の流れ
------------------------------- */
.time-table {
  width: 100%;
  max-width: 58rem;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 4rem 0;
  &::before {
    content: "";
    width: 1rem;
    position: absolute;
    inset: 0 0 0 3rem;
    background-color: $brown;
    border-radius: 100px;
  }
  @include display_md {
    max-width: 78rem;
    &::before {
      inset: 0 0 0 50%;
      transform: translateX(-50%);
    }
  }
}

.time-table-item {
  width: 94%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  @include display_md {
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
    &:nth-child(odd) {
      .time-table-item__time {
        grid-column: 2;
      }
      .time-table-contents {
        grid-row: 1;
        grid-column: 3;
      }
    }
    &:nth-child(even) {
      .time-table-item__time {
        grid-column: 2;
      }
      .time-table-contents {
        grid-row: 1;
        grid-column: 1;
        &__title {
          text-align: right;
        }
      }
    }
  }
  &__time {
    width: 7rem;
    height: 7rem;
    font-size: 2.8rem;
    font-weight: 700;
    color: $brown;
    background-color: $white;
    display: grid;
    place-items: center;
    @include display_md {
      width: 10rem;
      font-size: 3.2rem;
    }
  }
}

.time-table-contents {
  &__title {
    width: 100%;
    height: 7rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: $brown;
    display: grid;
    align-items: center;
    @include display_md {
      font-size: 2.4rem;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
