@use "global" as *;

/* 1日の流れ
------------------------------- */
// 縦の軸
.time-table {
  width: 100%;
  max-width: 58rem;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 4rem 0;
  &::before {
    content: "";
    width: 1rem;
    position: absolute;
    inset: 0 0 0 3.4rem;
    background-color: $brown;
    border-radius: 100px;
    transform: none;
  }
  @include display_md {
    &::before {
      inset: 0 0 0 50%;
      transform: translateX(-50%);
    }
  }
}

.time-table-item {
  display: flex;
  &__time {
    width: 8rem;
    height: 6rem;
    font-size: clamp(2.4rem, 2vw, 3.2rem);
    font-weight: 700;
    color: $brown;
    background-color: $white;
    display: grid;
    place-items: center;
    position: relative;
    @include display_md {
      inset: 0 0 0 50%;
      transform: translateX(-50%);
    }
  }
}

// あとで調整
.time-table-contents {
  width: calc(100% - 10rem);
  height: auto;
  &__title {
    width: 100%;
    height: auto;
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: 700;
    color: $brown;
    margin: 1.6rem 0;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0 0 1.6rem 0;
  }
}