@use "global" as *;

/* 基本設定
------------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Zen Maru Gothic", "M PLUS Rounded 1c", sans-serif;
  text-align: justify;
}

body {
  font-size: 1.6rem;
  color: $text_color;
  background-color: $bg;
}

a {
  color: $text_color;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

section {
  width: 100%;
  height: auto;
}
