@use "global" as *;

/* ヘッダー
------------------------------- */
.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, $yellow, $mint);
  box-shadow: $shadow;
  position: fixed;
  padding: 0.6rem 2%;
}

.header-brand {
  width: auto;
  height: 100%;
  color: $brown;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  &__logo {
    width: auto;
    height: 100%;
  }
  &__name {
    font-size: clamp(2rem, 3vw, 2.6rem);
    color: $brown;
    white-space: nowrap;
  }
}