@use "global" as *;

/* ヘッダー
------------------------------- */
.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, $yellow, $mint);
  box-shadow: $shadow;
  position: fixed;
  padding: 0.6rem 2%;
}

.header-brand {
  width: auto;
  height: 100%;
  color: $brown;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  &__logo {
    width: auto;
    height: 100%;
  }
  &__name {
    font-size: clamp(2rem, 3vw, 2.6rem);
    color: $brown;
    white-space: nowrap;
  }
}

#menu-toggle {
  display: none;
  ~ .menu {
    .menu__item {
      @include menu_item(0, 0);
      @include display_md {
        height: auto;
        opacity: 1;
      }
    }
  }
  &:checked {
    + .menu-button-container {
      .menu-button {
        background-color: rgba(255, 255, 255, 0);
        &::before {
          transform: rotate(45deg);
          margin-top: 0px
        }
        &::after {
          transform: rotate(-45deg);
          margin-top: 0px;
        }
      }
    }
    ~ .menu {
      .menu__item {
        @include menu_item(6rem, 1);
      }
    }
  }
}

.menu-button-container {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include display_md {
    display: none;
  }
}

.menu-button {
  @include menu_bar;
  &::before {
    content: "";
    margin-top: -8px;
    @include menu_bar;
  }
  &::after {
    content: "";
    margin-top: 8px;
    @include menu_bar;
  }
}

.menu {
  width: 100%;
  height: auto;
  color: $brown;
  box-shadow: $shadow;
  position: absolute;
  inset: 10vh 0 auto 0;
  @include display_md {
    position: initial;
    box-shadow: none;
    display: flex;
    justify-content: end;
    gap: 3rem;
  }
  &__item {
    width: 100%;
    color: $brown;
    background-color: $bg;
    border-bottom: 1px dashed rgba($brown, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      border-bottom: none;
    }
    @include display_md {
      width: auto;
      background-color: initial;
      border-bottom: none;
    }
  }
}