@use "global" as *;

/* ナビゲーションメニューボタン
------------------------------- */
#menu-toggle {
  display: none;
  ~ .menu {
    .menu__item {
      @include menu_item(0, 0);
      &:last-child {
          padding: 0;
        }
      @include display_md {
        height: auto;
        opacity: 1;
      }
    }
  }
  &:checked {
    + .menu-button-container {
      .menu-button {
        background-color: rgba(255, 255, 255, 0);
        &::before {
          transform: rotate(45deg);
          margin-top: 0px
        }
        &::after {
          transform: rotate(-45deg);
          margin-top: 0px;
        }
      }
    }
    ~ .menu {
      .menu__item {
        @include menu_item(6rem, 1);
        &:last-child {
          padding: 4rem 2rem;
        } 
        @include display_md {
          height: auto;
        }
      }
    }
  }
}

.menu-button-container {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include display_md {
    display: none;
  }
}

.menu-button {
  @include menu_bar;
  &::before {
    content: "";
    margin-top: -8px;
    @include menu_bar;
  }
  &::after {
    content: "";
    margin-top: 8px;
    @include menu_bar;
  }
}
