@use "global" as *;

/* ナビゲーションメニュー
------------------------------- */
.menu {
  width: 100%;
  height: auto;
  color: $brown;
  box-shadow: $shadow;
  position: absolute;
  inset: 10vh 0 auto 0;
  @include display_md {
    position: initial;
    box-shadow: none;
    display: flex;
    justify-content: end;
    gap: 3rem;
  }
  &__item {
    width: 100%;
    color: $brown;
    background-color: $bg;
    border-bottom: 1px dashed rgba($brown, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      border-bottom: none;
    }
    @include display_md {
      width: auto;
      background-color: initial;
      border-bottom: none;
    }
  }
}